@if $hide_replies_count == "true" {
   .topic-list .num.posts-map {
      display: none;
   }
}

@if $hide_time_since_last_activity == "true" {
   .topic-list .topic-item-stats .num.activity {
      display: none;
   }
}

@if $hide_category_topic_stats == "true" {
  .category-list-item>footer, .subcategory-list-item>footer {
    display: none;
   }
}
