// * hiding or showing topic stats in the main category view and topic filter list views * //

// * hide or show topic views count on category homepage * //

@if $hide_topic_views_count == "true" {
  .above-latest-topic-list-item-post-count-outlet,
  .topic-list .views {
  display: none;
  }
}

// * hide or show topic replies count on category homepage * //

@if $hide_replies_count == "true" {
  .latest-topic-list .posts-map,
  .topic-list .posts {
  display: none;
  }
}

// * hide or show topic time since last activity on category homepage * //

@if $hide_time_since_last_activity == "true" {  
  .topic-last-activity,
  .topic-list .activity {
  display: none;
 }
}

// * hide or show topic stats column in category list on category homepage * //

@if $hide_category_topic_stats == "true" {
.category-list .topics {
    display: none;
  }
}
